@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

/* a.active hr{
    display: block;
} */

body{
    background-color: #f7fcfb;
}

*{
    font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
    display: none;
}

select,input,textarea {
    border: 2px solid #115e5999;
    outline-color: #115e59;
    border-radius: 8px;
}

.active{
    background-color: #115e5911;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: #115e59;
}
